a{
	text-decoration:none;
	color:#000000;
}

.linkstyle{
	text-decoration:none;
	color:#ffffff;
}

.linkstyle_black{
	text-decoration:none;
	color:#000000;
}

.navlinkstyle{
	text-decoration:none;
	color:#000000;
}

.navlinkstyle:hover{
  text-decoration:none;
  color: #ffffff;
  transition: 0.3s;
}

#main-nav>div>ul>li:hover{
  background-color: #cd3737;
  color: #ffffff;
  transition: 0.3s;
}

#main-nav {
  border-bottom: 1px solid black;
  background-color:#ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
  color: black;
}

#aside-nav {
  max-height:30px;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#pages-list ul{
  list-style-type: none;
  text-align: center;
}

#pages-list ul li {
  color:#000000;
  padding-top: 5px;
  font-size: 17px;
}

#pages-list ul li a{
  color:#000000;
  padding-top: 5px;
}

#pages-list ul {
  padding-top: 20px;
}

#pages-list ul li::before {
  padding-right: 4px;
}

footer .container div{
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-copyright{
  background-color: #000000;
  color:#ffffff;
  height:50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.footer-copyright a{
  color:#ffffff;
}

footer{
  background-color: #3e3e3e;
}

#news-list{
  color: black;
}

.footer-contact{
  margin-left:10px;
  color:#000000;
}

.footer-contact a{
  color:#000000;
}

.footer-contact i{
  font-size:15px;
}

#news-list div p a{
  color: black;
}

.underline-href {
  text-decoration: underline;
}

.facebook-icon:hover{
  color:#3b5998;
}

.youtube-icon:hover{
  color:#cc181e;
}

.instagram-icon:hover{
  color:#8a3ab9;
}

.twitter-icon:hover{
  color:#1dcaff;
}

.socials-icons{
  color: #000000;
  text-decoration:none;
  padding:0 25px 0 25px;
}