.MuiTableHead-root {
    background: #343a40 !important;
}
.MuiTableCell-head {
    color: #ffffff !important;
}
.MuiTableCell-root {
    width: 50%;
}
.MuiButton-root:hover {
    background-color: #343a40 !important;
    color: #ffffff;
}