.vehicleInfo {
    display: flex;
    cursor:pointer;
    box-sizing: border-box;
    transition: background-color .2s ease !important;
    cursor: pointer;
    position: relative;
    padding: 8px 0;
    color: #767676 !important;
    min-height: 133px;
    width: 100%;
}
.vehicleInfoHeader {
    display: inline-flex;
    }
    .vehicleInfoContent {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        width: calc(100% - 128px);
        margin:25px;
    }
    
    .vehicleInfoName {
        float: left;
        font-weight: 700;
        box-sizing: border-box;
        padding-bottom: 5px;
        width: 100%;
    }
    .vehicleInfoFee{
        margin-top: 10px;
        float: right !important;
        font-weight: 700;
        font-size: 2rem;
    }
    .vehicleInfoDescr {
        
    }
.vehicleInfo:hover {
    background: #eee;
}


.MuiTableRow-root {
    border-bottom: 1px solid #ddd
}
a:hover {
    text-decoration: none !important;
}
             
.homeImage {
    background-size: cover;
    width: 300px !important;
    height: 150px !important;
}
