.carDetailsItem {
    background: #ddd;
    margin: 10px;
}
.photoWrapper{
    text-align: center;
    margin:10px;
    
}
img {
    margin: 10px;
    width:600px;
    height:600px;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
  
}

.imageDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    width:600px;
    height:600px;
    border: 1px solid #767676;
    border-radius:7px;
    margin-right:10px;
    margin-top:10px;
   
}

.imageDiv img{
    width:90%;
    height:65%;
    
}

.detailsDiv{
    margin-top:10px;
    padding:10px;
    width:500px;
    height:600px;
    border: 1px solid #767676;
    border-radius:7px;
}

.detailsMajor{
    font-weight: 700;
    text-align:center;
}

.specificationDetails{
    display: flex;
    flex-direction: column;
    margin-left:30px;
    
    
}

.specificationDetails span{
    font-size:18px;
}

.specificationDetails label{
    font-weight: 700;
    margin:0;
}



.reserveButton  {

    align-self: flex-end;  
    margin: 0 auto;
    border: none;
    background: #404040;
    color: #ffffff  ;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top:70px;
    }

.reserveButton:hover {
    color: #404040 !important;
    font-weight: 700 ;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.reserveButton a{
    color: inherit;
}
.reserveButton a:hover {
    color: black ;
}